/*Color scheme:
--text: #040316;
--background: #bfcdff;
--primary: #e6fdfd;
--secondary: #4a4a4a;
--accent: #ff8300;
*/
body {                                       /*(BY ILLIA)*/
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color:#bfcdff;
    padding:0px;
    margin:0px;
}

/*links styling OVERALL*/
a{
    text-decoration:none;
    color:#74abab;
}
a:hover{
    color:#ff8300;
}
/*/links styling OVERALL*/


/*header OVERALL                               (BY ILLIA)*/
.dropMiniItem{
    width:4.5rem;
    display: none;
}
.miniDropdown{
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
}
.burgerBar{
    padding:0.7rem;
    display:none;
    z-index: 6;
}
.burgerBar:active{
    transition:background-image .5s ease-in-out;
}
.pagesBlock{
    width:100%;
    display:flex;
    gap:0rem;
    justify-content:flex-end;
    position:fixed;
}
.htmlPages{
    display:flex;
    flex-direction:row;
}
.contactUs{
    margin-right:2rem;
}
.cart_container{
    text-align:center;
}
.cart_counter{
    background-color:#ff8300;
    display:block;
    border-radius:50px;
    width:20px;
    margin-top:-2.9rem;
    margin-left:-1rem;
}
nav{
background-color:#4a4a4a;
padding:0rem;
display:flex;
gap:0rem;
justify-content:space-between;
position:fixed;
width:100%;
z-index: 5;
height:3rem;
}

@media(max-width:370px){
    .burgerBar{
        display:block;
    }
    .htmlPages{
        flex-direction:column;
        margin-left: 3.4rem;
        display:none;
    }
    .pagesBlock{
        justify-content: space-between;
    }
    .nav_header{
        background-color:#4a4a4a;
        width:5rem;
    }
    .nav_header:nth-child(3){
        margin-right:0rem;
        margin-left:0rem;
    }
}

.header_all{
    margin-top:-2%;
}
.hilight_nav{
    background-color:#ff8300;
    padding:0.9rem;
    color:#040316;
    height:1.2rem;
}
.dropMiniItem{
    background-color:#4a4a4a;
    border-top:1px solid gray;
}
.hilight_nav:hover{
    background-color:#ff8300;
    padding:0.9rem;
    color:#040316;
}
.nav_header{
    padding:0.9rem;
}
.cart_image{
    height:2.4rem;
    margin-top:.3rem;
    margin-right:.3rem;
    transition:.1s ease-in-out;
}
.cart_image:hover{
    height:2.3rem;
    margin-top:.35rem;
    margin-left:.1rem;
    transition:.2s ease-in-out;
}
#all_header_main{/*only for the header on the main page*/
    height:30rem;
    background-image:url(bg.jpg);
    background-size: cover;
    background-repeat:no-repeat;
}
.local_nav{
    border:3px solid  #ff8300;
    padding:1rem;
    border-radius:10px;
    max-height:1.2rem;
    transition:.5s ease-in-out;
}
.local_nav:hover{
    border:3px solid white;
    transition:.3s ease-in-out;
}
.header_links{
    margin-top:14rem;
    margin-left:10%;
    display:flex;
    gap:1rem;
    min-width:max-content;
}
.header_container{
    display:flex;
    flex-direction:row;
    gap:30%;
}
.slideshow{
    margin-top:2rem;
    width:5rem;
    width:20rem;
    min-width:20rem;
    height:20rem;
    border-radius:10px;
    overflow:hidden;
}
@media(min-width:2000px){
    .header_container{
        gap:50%;
    }
}
@media(max-width:1200px){
    .header_container{
        gap:10%;
    }
}
@media(max-width:800px){
    .slideshow{
        display:none;
    }
    .button_slide{
        display:none;
    }
    .header_container{
        justify-content:center;
    }
}
.header_container .header_links a{
    color:rgb(255, 255, 255);
}
.button_slide{
    background-color:#ffffff7c;
    height:fit-content;
    width:fit-content;
    padding:1rem;
    border-radius:100px;
    transition:.5s ease-in-out;
}
.button_slide:hover{
    background-color:#fffffff0;
    transition:.3s ease-in-out;
}
.slideshow_container{
    display:flex;
    align-items:center;
    margin-top:4.5rem;
}
#left_b{
    margin-right:.5rem;
}
#right_b{
    margin-left:.5rem;
}
/*/header OVERALL*/


/*footer OVERALL                            (BY ILLIA)*/
footer{
    display:flex;
    gap:6em;
    justify-content:center;
    background-color:#4a4a4a;
}
.footer_p{
    color:#a5b7b7;
}
.footer_contact{
    color:#a5b7b7;
}
@media(max-width:920px){
    footer{
        gap:1em;
    }
    .footer_block_s2{
        margin-right: 1rem;
    }
    .footer_block_s1{
        margin-left:1rem;
    }
}
@media(max-width:400px){
    footer{
        gap:1em;
        flex-direction:column;
    }
    .footer_block{
        margin-left:4rem;
        margin-right:4rem;
    }
}
/*/footer OVERALL*/

/*Index page                               (BY ILLIA)*/
main{
    background-color: #e6fdfd;
    border-radius:20px;
    margin-right:2%;
    margin-left:8%;
    margin-top:3.5rem;
    margin-bottom:2%;
    padding-left:1rem;
    padding-right:1rem;
    padding-top:.1rem;
    padding-bottom:1rem;

    grid-column:1/11;/*for grid layout*/
}
.main_container{
    display:grid;
    width:100%;
    grid-template-columns: repeat(12, 1fr);
}
aside{
    margin-top:2rem;
    margin-right:40%;
    margin-left:20%;
    display:grid;
    row-gap:10px;
}
fieldset{
    display:grid;
    row-gap:10px;
    height:970px;
    margin-left:-15px;
}
@media(max-width:1000px){
aside{
    margin-left:1%;
    margin-right:0%;
}
fieldset{
    margin-left:0px;
    margin-right:-20px;
}
}
@media(max-width:720px){
    aside{
        display:none;
    }
    main{
        grid-column:1/12;
    }
}
#about_us{
    display:grid;
    text-align:center;
}
.image_container{
    border-radius: 20px;
    width:200rem;
    overflow:hidden;
    height:fit-content;
    width:fit-content;
    padding-bottom:-10px;
}
.info_block,.info_block_left{
    display:flex;
    flex-direction:row;
    gap:2rem;
}
.info_text{
    width:80%;
}
@media(max-width:1000px){
    .info_block{
        flex-direction:column;
    }
    .info_block_left{
        flex-direction:column-reverse;
    }
    .info_text{
        width:100%;
    }
    .image_container_2{
        display:flex;
        width:100%;
        justify-content:center;
    }
}
.discounted_items_block{
    width:100%;
    display:flex;
    justify-content: center;
}
.grid_discounted{
display:grid;
grid-template:305px 305px/200px 200px 200px 200px;
gap:10px;
}
@media(max-width:1250px){
    .grid_discounted{
        grid-template:305px 305px 305px 305px/200px 200px;
        }
    .l_block{
        grid-column: 1/span 2;
        grid-row: 1/span 2;
    }
}
@media(max-width:550px){
    .grid_discounted{
        overflow:scroll;
    }
}
/*for the large block on main page*/
.l_block{
    background-color:white;
    height:620px;
    width:410px;
    grid-column: 1/span 2;
    grid-row: 1/span 2;
}
.item_block_img_container_l{
    overflow:hidden;
    margin:10px;
    margin-top:10px;
}
.dayDeal{
    margin-top:-4px;
    margin-left:13px;
    margin-right:-8px;
    color:rgb(223, 73, 73);
}
#first {
    padding-left: 10px;
    padding-right: 5px;
    margin-top: -10px;
    height: 160px;
    overflow-y: initial;
}
/*//Index page*/
/*Item block OVERALL                       (BY ILLIA)*/
.item_block{
    background-color:white;
    height:305px;
    width:200px;
}
.item_block_img_container{
    overflow:hidden;
    margin-right:10px;
    margin-left:10px;
    padding-top:10px;
}
.item_block_text{
    padding-left:10px;
    padding-right:5px;
    margin-top:20px;
    overflow-y:hidden;
    height:40px;
}
.item_block_price{
    color:#522c2c;
    margin-left:10px;
    margin-top:-7px;
    font-size: large;
}
.item_block_deal{
    background-color: #ff8300;
    color:#040316;
    width:fit-content;
    padding:2px;
    border-radius:3px;
}
.item_price_button{
    display:flex;
    gap:20px;
    flex-direction:row;
}
.item_button{
    margin-top:-13px;
    height:2rem;
    background-color:#c9ecb8;
    border-radius:4px;
    border:1px solid rgba(10, 10, 10, 0);
    transition:.5s ease-in-out;
}
.item_button:hover{
    background-color:#c0dcb1;
    border:1px solid #ff8300;
    transition:.2s ease-in-out;
}
.item_button:active{
    background-color:#00bfc5;
}
.addItemImage{
    
}
.addItemButton {
    padding: 0px;
    background-color:#bfcdff;
    border: 0px solid gray;
    border-radius: 5px;
    height: 32px;
    margin-top: -12px;
    transition:.5s ease-in-out;
}

.addItemButton:hover {
    background: linear-gradient(to bottom left, rgb(144, 144, 246), rgb(234, 135, 151));
    transition:background-image .5s ease-in-out;
}
.addItemButton:focus{
    margin-top:-20px;
    padding-bottom:40px;
    transition:.2s ease-in-out;
    
}
.addItemButton:after{
    transition:.5s ease-in-out;
}
.removeItemButton{/*THIS one is for when item is added*/
    padding: 0px;
    border: 0px solid gray;
    border-radius: 5px;
    height: 32px;
    margin-top: -12px;
    transition:.5s ease-in-out;
    background-color:antiquewhite;
}
.hiddenInfo{
    display:none;
}
.hiddenNumberInput{
    height:20px;
    width:35px;
    color:#040316;
    display:none;
    padding-top: 0px;
    margin-top:-8px;
}
/*//Item block OVERALL*/
/*GRID on products*/
#grd_prod{
display:grid;
grid-template-columns: 200px 200px 200px;
column-gap:10px;
row-gap:20px;
}
#add_prod{
    background-color:#47d600;
    grid-column: 1/span 2;
    grid-row: 2/span 2;
}
/*//GRID on products*/

/*Scrollbar OVERALL*/
::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
    background:#efecf8; 
}
::-webkit-scrollbar-thumb {
    background: #9a9595; 
}
::-webkit-scrollbar-thumb:hover {
    background: #464545; 
}
.noScroll{/*disables scrolling when cart is opened*/
    overflow:hidden;
}
/*/Scrollbar OVERALL*/

/*CART it will be overlapping the page when displayed*/
.cart_page_container{
    display:none;
    position:fixed;
}
.cart{
    display:flex;
    align-content: center;
    justify-content: center;
    position:fixed;
    background-color:#1e1e1e6d;
    height:130%;
    width:100%;
    z-index: 5;
}
.cart_contents{
    width:95%;
    height:70%;
    border:4px solid black;
    border-radius:30px;
    margin-top:4rem;
    background-color:#efecf8;
    display:grid;
    grid-template:7% 93% /50% 50%;
    overflow:hidden;
}
.orderItems{
    width:100%;
}
.orderItems1{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    gap:10px;
    width:100%;
    height:90%;
    overflow-y: scroll;
    justify-content: center;
}
.orderDetails{
    width:100%;
    margin-top:-14%;
    background-image:url("https://w0.peakpx.com/wallpaper/639/188/HD-wallpaper-toscany-italy-nature-toscana-vine-vino.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display:flex;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
}

.h1Cart{
    margin-left:30px;
    grid-column: 1 /span2;
    display:flex;
    flex-direction:row;
}
.switchImage{
    margin-top:20px;
    margin-left:10px;
    display:none;
    padding:3px;
    border-radius:100%;
    background-image:linear-gradient(to top left,rgb(218, 67, 150),rgb(134, 116, 218))
}
@keyframes shake {
    0% { transform: translateX(-5px); }
    25% { transform: translateX(5px); }
    50%{transform: translateX(5px);}
    100% { transform: translateX(-5px); }
}
.switchImage:active{
    animation:shake .5s;
}

@media(max-width:750px){
    .switchImage{
        display:block;
    }
    .orderDetails{
        display:none;
    }
    .orderItems{
        grid-column: 1 /span2;
    }
}

@media(max-width:800px){
    .cart_page_container{
    margin-left:-100%;
    }
}
.orderItems h2{
    margin-left:10%;
    width:200px;
}

/*ORDER_DETAILS*/
li,.main_box legend{
    color:rgb(152, 152, 152);
}

.main_box {
    margin-left:5%;
    margin-right:5%;
    padding-top:5%;
    margin-top: 3rem;
    background-color: rgba(51, 45, 45, 0.843);
    border-radius: 10px;
    width: 60rem;
    padding-bottom: 5rem;
    display:flex;
    justify-content: center;
    flex-direction:column;
}

.block_usability_change {
    display: flex;
    flex-direction: column;
    gap: .8rem;
}
fieldset{
    margin-top:1rem;
    margin-bottom:1rem;
}

@media(max-width:64rem) {
    .main_box {
        width: 90%;
    }
}

.main_box h2 {
    margin-left: 1.5rem;
    color: rgb(255, 255, 255);
}

.main_box p,.main_box h4,.main_box label {
    color: rgb(255, 255, 255);
}
h4{
    margin-bottom:-10px;
}

input,
.main_box textarea {
    background-color: rgba(255, 255, 255, 0.055);
    border: 1px solid rgb(114, 114, 140);
    color: rgb(255, 255, 255);
}

input:focus,
select:focus,
textarea:focus {
    border: 2px solid #bc9000;
    box-shadow: 2px 2px 5px #bc9000;
    outline: none;
}

form {
    padding-left: 3rem;
}
.time_flex {
    display: flex;
    flex-direction: column;
    gap:1rem;
}

.querry_reason {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

select {
    background-color: rgba(240, 248, 255, 0.952);
}

.send {
    background-color: rgba(55, 188, 31);
    color: rgb(232, 232, 232);
    border: 2px solid rgb(154, 154, 154);
    border-radius:5px;
    height:2rem;
}
.send:hover{
    background-color:rgb(0, 177, 0);
}
.reset:hover{
background-color:red;
}

.reset {
    background-color: rgba(57, 31, 188, 0);
    color: rgb(232, 232, 232);
    border: 2px solid red;
    border-radius:5px;
    height:2rem;
}
a{
    text-decoration:none;
    width:fit-content;
}
li:hover{
    color:#bc9000;
}
.terms_conds{
    color:#bc9000;
    width:fit-content;
}
.terms_conds:hover{
    color:rgb(56, 109, 223);
}
/*/ORDER DETAILS*/
/*/CART*/

/*description*/
.descriptionContainer{
    display:none;
    position:fixed;
}
.description{
    display:flex;
    align-content: center;
    justify-content: center;
    position:fixed;
    background-color:#1e1e1e6d;
    height:130%;
    width:100%;
    z-index: 5;
}
.descriptionContents{
    width:95%;
    height:fit-content;
    border:4px solid black;
    border-radius:30px;
    margin-top:4rem;
    background-color:#efecf8;
    overflow:hidden;
    padding-top:3rem;
    padding-left: 2rem;
    padding-right:2rem;
    padding-bottom:1rem;
}
.closeDescription{
    margin-top:10px;
    margin-left:88%;
    position:fixed;
}
.itemImageInDescription{
    margin-left:30px;
    margin-top:-25px;
}
.imageNameDesc{
    display:flex;
    flex-direction:row;
    gap:1rem;
}
.headersDescription{
    margin:1rem;
}
@media(max-width:700px) {
    .closeDescription{
        margin-top:10px;
        margin-left:80%;
    }
    .itemImageInDescription{
        margin:2rem;
    }
    .imageNameDesc {
        flex-direction: column;
        margin-left: 5%;
        margin-right:5%;
    }
    .descriptionContents{
        overflow-y: scroll;
        max-height: 65%;
    }
}

@media(max-width:800px) {
    .descriptionContainer {
        margin-left: -100%;
    }
}

/*//description*/
/*products page*/
.productsLayout{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap:10px;
    margin:1rem
}
/*//products page*/