/*Color scheme:
--text: #040316;
--background: #bfcdff;
--primary: #e6fdfd;
--secondary: #4a4a4a;
--accent: #ff8300;
*/
body {                                       /*(BY ILLIA)*/
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color:#bfcdff;
    padding:0px;
    margin:0px;
}

/*links styling OVERALL*/
a{
    text-decoration:none;
    color:#74abab;
}
a:hover{
    color:#ff8300;
}
/*/links styling OVERALL*/


/*header OVERALL                               (BY ILLIA)*/
.nav_header:nth-child(3){
    margin-right:1.5rem;
}
.cart_container{
    text-align:center;
}
.cart_counter{
    background-color:#ff8300;
    display:block;
    border-radius:50px;
    width:20px;
    margin-top:-2.9rem;
    margin-left:-1rem;
}
nav{
background-color:#4a4a4a;
padding:0rem;
display:flex;
gap:0rem;
justify-content:flex-end;
position:fixed;
width:100%;
}
.header_all{
    margin-top:-2%;
}
.hilight_nav{
    background-color:#ff8300;
    padding:0.9rem;
    color:#040316;
}
.hilight_nav:hover{
    background-color:#ff8300;
    padding:0.9rem;
    color:#040316;
}
.nav_header{
    padding:0.9rem;
}
.cart_image{
    height:2.4rem;
    margin-top:.3rem;
    margin-right:.3rem;
    transition:.1s ease-in-out;
}
.cart_image:hover{
    height:2.3rem;
    margin-top:.35rem;
    margin-left:.1rem;
    transition:.2s ease-in-out;
}
#all_header_main{/*only for the header on the main page*/
    height:30rem;
    background-image:url(bg.jpg);
    background-size: cover;
    background-repeat:no-repeat;
}
.local_nav{
    border:3px solid  #ff8300;
    padding:1rem;
    border-radius:10px;
    max-height:1.2rem;
    transition:.5s ease-in-out;
}
.local_nav:hover{
    border:3px solid white;
    transition:.3s ease-in-out;
}
.header_links{
    margin-top:14rem;
    margin-left:10%;
    display:flex;
    gap:1rem;
    min-width:max-content;
}
.header_container{
    display:flex;
    flex-direction:row;
    gap:30%;
}
.slideshow{
    margin-top:2rem;
    width:5rem;
    width:20rem;
    min-width:20rem;
    height:20rem;
    border-radius:10px;
    overflow:hidden;
}
@media(min-width:2000px){
    .header_container{
        gap:50%;
    }
}
@media(max-width:1200px){
    .header_container{
        gap:10%;
    }
}
@media(max-width:800px){
    .slideshow{
        display:none;
    }
    .button_slide{
        display:none;
    }
    .header_container{
        justify-content:center;
    }
}
.header_container .header_links a{
    color:rgb(255, 255, 255);
}
.button_slide{
    background-color:#ffffff7c;
    height:fit-content;
    width:fit-content;
    padding:1rem;
    border-radius:100px;
    transition:.5s ease-in-out;
}
.button_slide:hover{
    background-color:#fffffff0;
    transition:.3s ease-in-out;
}
.slideshow_container{
    display:flex;
    align-items:center;
    margin-top:4.5rem;
}
#left_b{
    margin-right:.5rem;
}
#right_b{
    margin-left:.5rem;
}
/*/header OVERALL*/


/*footer OVERALL                            (BY ILLIA)*/
footer{
    display:flex;
    gap:6em;
    justify-content:center;
    background-color:#4a4a4a;
}
.footer_p{
    color:#a5b7b7;
}
.footer_contact{
    color:#a5b7b7;
}
@media(max-width:920px){
    footer{
        gap:1em;
    }
    .footer_block_s2{
        margin-right: 1rem;
    }
    .footer_block_s1{
        margin-left:1rem;
    }
}
@media(max-width:400px){
    footer{
        gap:1em;
        flex-direction:column;
    }
    .footer_block{
        margin-left:4rem;
        margin-right:4rem;
    }
}
/*/footer OVERALL*/

/*Index page                               (BY ILLIA)*/
main{
    background-color: #e6fdfd;
    border-radius:20px;
    margin-right:8%;
    margin-left:8%;
    margin-top:2%;
    margin-bottom:2%;
    padding-left:1rem;
    padding-right:1rem;
    padding-top:.1rem;
    padding-bottom:1rem;
}
#about_us{
    display:grid;
    text-align:center;
}
.image_container{
    border-radius: 20px;
    width:200rem;
    overflow:hidden;
    height:fit-content;
    width:fit-content;
    padding-bottom:-10px;
}
.info_block,.info_block_left{
    display:flex;
    flex-direction:row;
    gap:2rem;
}
.info_text{
    width:80%;
}
@media(max-width:1000px){
    .info_block{
        flex-direction:column;
    }
    .info_block_left{
        flex-direction:column-reverse;
    }
    .info_text{
        width:100%;
    }
    .image_container_2{
        display:flex;
        width:100%;
        justify-content:center;
    }
}
.discounted_items_block{
    display:flex;
    width:100%;
    gap:10px;
    overflow-x: scroll;
    height:fit-content;
    height:340px;
}
/*//Index page*/
/*Item block OVERALL                       (BY ILLIA)*/
.item_block{
    background-color:white;
    height:305px;
    width:200px;
}
.item_block_img_container{
    overflow:hidden;
    margin:10px;
    margin-top:10px;
}
.item_block_text{
    padding-left:10px;
    padding-right:5px;
    margin-top:-10px;
}
.item_block_price{
    color:#522c2c;
    margin-left:10px;
    margin-top:-7px;
    font-size: large;
}
.item_block_deal{
    background-color: #ff8300;
    color:#040316;
    width:fit-content;
    padding:2px;
    border-radius:3px;
}
.item_price_button{
    display:flex;
    gap:20px;
    flex-direction:row;
}
.item_button{
    margin-top:-13px;
    height:2rem;
    background-color:#297a00;
    border-radius:4px;
    border:1px solid rgba(10, 10, 10, 0);
}
.item_button:hover{
    background-color:#47d600;
    border:1px solid #ff8300;
}
.item_button:active{
    background-color:#00bfc5;
}
/*//Item block OVERALL*/
/*GRID on products*/
#grd_prod{
display:grid;
grid-template-columns: 200px 200px 200px;
column-gap:10px;
row-gap:20px;
}
#add_prod{
    background-color:#47d600;
    grid-column: 1/span 2;
    grid-row: 2/span 2;
}
/*//GRID on products*/